{% extends 'base_accounts.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center logo my-4">
      <a href="{% url 'homes:listing' %}">Home Hunter</a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Log in</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </form> <!--form closed-->
          </div><!--end of card body-->
          <div class="card-footer text-muted text-center">
            New to Home Hunter? <a href="{% url 'accounts:signup' %}">Sign up</a>
          </div> <!--card footer closed-->
        </div> <!--card  closed-->
        <div class="text-center py-2">
          <small>
            <a href="{% url 'accounts:password_reset' %}" class="text-muted">Forgot your password?</a>
          </small>
        </div> <!--text-center closed-->
      </div> <!--card footer closed-->
    </div> <!--col-lg-4 col-md-6 col-sm-8 closed-->
  </div><!--text-center logo my-4 closed-->
 </div><!--end of container -->
{% endblock %}