{% extends 'base.html' %}

{% block title %}Change password{% endblock %}



{% block content %}
  <div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12" align="center">
        <div class="col-lg-4 col-md-4 col-sm-4" align="center">
            <div class="card" align="center">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                    <button type="submit" class="btn btn-success">Change password</button>
                </form> <!-- form closed-->
          </div> <!-- card closed-->
        </div>  <!---col-lg-4 col-md-4 col-sm-4 -->
    </div> <!--col-lg-12 col-md-12 col-sm-12 -->
  </div><!--row -->
  </div><!--container -->
{% endblock %}