 {% extends 'base_accounts.html' %}

 {% load static %}

 {% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}


 {% block body %}
  <div class="container">
   <h1 class="text-center logo my-4">
    <a href="#">Home Hunter</a>
   </h1>
   <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card card-inverse card-warning mb-3 text-center">
        <div class="card-body">
          <h3 class="card-title">Sign up</h3>
           <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-primary btn-block">Create an account</button>
           </form>
         </div>
         <div class="card-footer text-muted text-center">
           Already have an account? <a href="{% url 'accounts:login' %}">Log in</a>
         </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
