{% extends 'base.html' %}





{% block content %}
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title" align="center">Profile Details</h3>
            <form method="post" novalidate enctype="multipart/form-data">
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-primary btn-block">Confirm</button>
            </form>
          </div>

        </div>
        <div class="text-center py-2">

        </div>
      </div>
    </div>
  </div>
{% endblock %}
