{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
<a class="navbar-brand"  href="{% url 'homes:listing' %}">All Homes </a>
<a class="navbar-brand"  href="{% url 'homes:fav_homes' %}">My Favourites </a>
<a class="navbar-brand"  href="{% url 'homes:adcreate' %}">New Ad</a>
{% endblock breadcrumb %}


{% block content%}
<div class="container">
    <div class="row">
    <div class="col-sm-2">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card" style="max-height:250px background-color:mintcream;">
                {% if object.userprofile.avatar %}
                <img class="card-img-top" src="{{ object.userprofile.avatar.url }}" alt="Card image cap" style="max-height:100px;">
                {% else %}
                <img class="card-img-top" src="https://diocesedenavirai.org.br/wp-content/uploads/2016/07/default-avatar.png" alt="Card image cap" style="max-height:100px;">
                {% endif %}
                <p align="center"><a href="{% url 'accounts:avatar_change' pk=object.id %}">CHANE AVATAR</a></p>
            </div>
            <div class="card" style="max-height:250px background-color:mintcream;">
            <h3 align="center"> {{ object.username }}</h3>
            <p align="center">{{ object.userprofile.first_name }}</p>
            <p align="center">{{ object.userprofile.contact_number }}</p>
            <p align="center"><a href="{% url 'accounts:profile_update' pk=object.id %}">EDIT</a></p>
            </div>

        </div>
    </div>




 <div class="col-sm-10">
    <div class="col-sm-12">
        <div class="card" style="background-color:gray; ">
            <b class="card-title" align="center">PUBLISHED POSTS</b>
            <div class="w3-row-padding w3-padding-16 w3-center" id="food">
                <div class="table-responsive">
                    <table class="table table-bordered">
                    <thead>
                <tr>

                    <th>Ad Name</th>
                    <th>published on</th>
                    <th>Details</th>
                </tr>
            </thead>
           <tbody>
           {% for home in homes %}
            {% ifequal home.published True %}
            <tr>
                <td>{{home.title}}</td>
                <td>{{home.created_at.date}}</td>
                <td><a href="{% url 'homes:home_detail' slug=home.slug %}">{{ home.title }}</a></td>
            </tr>
             {% endifequal %}
        {% endfor %}
     </tbody>
        </table>
    </div>
</div>
    </div>
   </div>


</br>



    <div class="col-sm-12">
<div class="card" style="background-color:dimgray;">
        <b class="card-title" align="center">PENDING POSTS</b>
         <div class="w3-row-padding w3-padding-16 w3-center" id="food">


        <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th>Ad Name</th>
                    <th>published on</th>
                    <th>Details</th>
                </tr>
            </thead>
           <tbody>
           {% for home in homes %}
            {% ifequal home.published False %}
            <tr>
                <td>{{home.title}}</td>
                <td>{{home.created_at.date}}</td>
                <td><a href="{% url 'homes:home_detail' slug=home.slug %}">{{ home.title }}</a></td>
            </tr>
             {% endifequal %}
        {% endfor %}
     </tbody>
        </table>
    </div>
</div>
    </div>
   </div>
</div>
</div>







    </br>
    </br>
    </br>

{% endblock %}
