{% extends 'base.html' %}

{% block content %}
<form action="{% url 'homes:addhome' %}" method="POST" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" >PROCEED TO PAY $10</button>
</form>
{% endblock %}