{% extends 'base.html' %}


{% block breadcrumb %}
<a class="navbar-brand"  href="{% url 'homes:listing' %}">All Homes </a>
<a class="navbar-brand"  href="{% url 'homes:fav_homes' %}">My Favourites </a>
<a class="navbar-brand"  href="{% url 'homes:adcreate' %}">New Ad</a>
{% endblock breadcrumb %}

{% block content %}
{#<div class="container" style="background-image:'images/home.jpeg'">#}
 <div class="container-fluid">

    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
        {% if object_list %}
        {% for house in object_list %}
        <div class="w3-quarter" style="margin-top:2%;">
            <div class="card" style="max-height:250px; background-color:mintcream;">
                <img class="card-img-top" src="{{ house.house.house_image.url }}" alt="Card image cap" style="max-height:100px;">
{#                    <div class="card-body">#}
                        <h4 class="card-title">{{ house.house.title }}</h4>
                        <p>Location:{{ house.house.city }}</p>
                        <p>Price:{{ house.house.price }}</p>
                        <p><b><a href={% url 'homes:home_detail' slug=house.house.slug %}>See Details</a></b></p>
{#                    </div>#}


             </div>
        </div>

        {% endfor %}

        {% else %}
            <h2>No Favourites yet</h2>
        {% endif %}
</div>
</div>
{% endblock %}