{% extends 'base.html' %}

{% load static %}

{% block breadcrumb %}
<a class="navbar-brand"  href="{% url 'homes:listing' %}">All Homes </a>
<a class="navbar-brand"  href="{% url 'homes:fav_homes' %}">My Favourites </a>
<a class="navbar-brand"  href="{% url 'homes:adcreate' %}">New Ad</a>
{% endblock breadcrumb %}

{% block content %}
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title" align="center">Post New Ad</h3>
            <form method="post" novalidate enctype="multipart/form-data">
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-success btn-block">Proceed to Pay $10</button>
            </form>
          </div>

        </div>
        <div class="text-center py-2">

        </div>
      </div>
    </div>
  </div>
    </br>
    </br>
    </br>

{% endblock %}




