{% extends 'base.html' %}
{% block breadcrumb %}
<a class="navbar-brand"  href="{% url 'homes:listing' %}">All Homes </a>
<a class="navbar-brand"  href="{% url 'homes:fav_homes' %}">My Favourites </a>
<a class="navbar-brand"  href="{% url 'homes:adcreate' %}">New Ad</a>
{% endblock breadcrumb %}


{% block content%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



<div class="container">
<div class="row">
    <div class="col-lg-8 col-sm-8 col-md-8">
    <div class="w3-row-padding w3-padding-16">
        {% if object.house_image %}
                <img src="{{ object.house_image.url }}" height="80%" width="80%">
        {% else %}
                <img src="http://customerengagement.asia/Blog/img/no_img.png" height="80%" width="80%">
        {% endif %}
        </div>
       </div>

        <div class="col-lg-4 col-sm-4 col-md-4">
            <h2>{{ object.title }}</h2>
            <div class="col-sm-12">
                <p><b>City</b> : {{ object.city }}</p>
                <p><b>Price</b> : {{ object.price }}</p>
                <p><b>address</b> : {{ object.adress }}</p>
                <p><b>Bedrooms</b> : {{ object.number_bedrooms }}</p>
                <p><b>Bathrooms</b> : {{ object.number_bathrooms }}</p>
                <p><b>Type</b> : {{ object.get_sale_type_display }}</p>
                <p><b>contact</b> : {{ object.owner.userprofile.contact_number }}</p>
                <p><b>Poted By</b> : {{ object.owner.userprofile.first_name }}</p>
                <p><b>Poted On</b> : {{ object.updated_at.date}}</p>
                <p><b>Prefered Tenants</b> : {{ object.tenants_type_display}}</p>
              </div>
        </div>
    </div>


{% ifequal object.owner request.user %}
    <p><b>Payment:</b> {{ object.published|yesno:"success,pending" }}</p>

<p><a href={% url 'homes:home_update' slug=object.slug %}>EDIT CONTENTS</a></p>

    {% if not object.published  %}
        <p><a href={% url 'homes:payment' pk=object.id %}>Publish</a></p>

    {% endif %}



{% else %}

<button id="like" type="button" class="btn btn-success" data-url="{% url 'homes:like_homes' %}" data-id="{{ object.id }}">LIKE</button>
{% endifequal %}



</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
$(document).ready(function()
{
    var data_url = $("#like").attr('data-url');
    var data_id = $("#like").attr('data-id');
    ajaxcall(data_url, data_id,0);

    function ajaxcall(data_url, data_id, state) {

        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: data_url,
            data: {house_id: data_id, state:state}
        }).then(function (resp) {
            if (resp.status) {
                $("#like").text('UNLIKE');

            }
            else {
                $("#like").text('LIKE');
            }
        }, function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR.status);
            console.log(textStatus);
            console.log(errorThrown);
        });
    }

    $(document).on('click', "#like", function(){
        ajaxcall($(this).attr('data-url'), $(this).attr('data-id'), 1);
    });


});
</script>


{% endblock %}

