{% extends 'base.html' %}
{% load cropping %}
{% block breadcrumb %}
<a class="navbar-brand"  href="{% url 'homes:listing' %}">All Homes </a>
<a class="navbar-brand"  href="{% url 'homes:fav_homes' %}">My Favourites </a>
<a class="navbar-brand"  href="{% url 'homes:adcreate' %}">New Ad</a>

 <div class="navbar-brand">
    <form class="navbar-form" role="search" action="{% url 'homes:home_search' %}" method="get">

        <div class="input-group">
            <input type="text" class="form-control" placeholder="city" name="city" id="city" value="{{ location }}">
            <input type="text" class="form-control" placeholder="keyword" name="keyword" id="keyword" value="{{ keyword }}">
            <select name="sel-type" id="sel-type">
                <option value="both">BOTH</option>
                <option value="s">SALE</option>
                <option value="l">RENT</option>
             </select>
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>Search</button>
            </div>
        </div>
    </form>
</div>

{% endblock breadcrumb %}








{% block content %}
{#<div class="container" style="background-image:'images/home.jpeg'">#}
 <div class="container-fluid">
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
       {% if object_list %}
            {% for house in object_list %}
                <div class="w3-quarter" style="margin-top:2%;">
                    <div class="card" style="max-height:250px; background-color:mintcream;">
                        {% if house.house_image %}
                        <img class="card-img-top"  src="{% cropped_thumbnail house "cropped_image" scale=0.25 %} alt="Card image cap" style="max-height:100px;">
                        {% else %}
                        <img class="card-img-top" src="http://customerengagement.asia/Blog/img/no_img.png" alt="Card image cap" style="max-height:100px;">
                        {% endif %}
{#                    <div class="card-body">#}
                        <h4 class="card-title">{{ house.title }}</h4>
                        <p>Location:{{ house.city }}</p>
                        <p>Price:{{ house.price }}</p>
                        <p><b><a href={% url 'homes:home_detail' slug=house.slug %}>See Details</a></b></p>
{#                    </div>#}
                    </div>
                </div>
            {% endfor %}
           </div>
      {% else %}
      <h3>No results Found</h3>
      {% endif %}



 {% if not search %}
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}" class="w3-bar-item w3-button w3-hover-black">«</a>
      {% endif %}

      <a href="#" class="w3-bar-item w3-button "> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>


    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="w3-bar-item w3-button w3-hover-black">»</a>
    {% endif %}
    </div>
  </div>
{% endif %}

 {% if search %}
<div class="w3-center w3-padding-32">
    <div class="w3-bar">
      {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}&city={{ location }}&sel-type={{ seltype }}&keyword={{ keyword }}" class="w3-bar-item w3-button w3-hover-black">«</a>
      {% endif %}

      <a href="#" class="w3-bar-item w3-button "> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>


    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&city={{ location }}&sel-type={{ seltype }}&keyword={{ keyword }}" class="w3-bar-item w3-button w3-hover-black">»</a>
    {% endif %}
    </div>
  </div>
 {% endif %}
</div>
{% endblock %}


