{% extends 'base.html' %}
{% block content %}



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style>
        /* Blue outline on focus */
        .StripeElement--focus {
            border-color: #80BDFF;
        }
        /* Can't see what users type without this */
        #card-number.form-control,
        #card-cvc.form-control,
        #card-exp.form-control {
            display:inline-block;
        }
    </style>

<body>

    <div class="container-fluid">
        <div id="card-errors" role="alert"></div>
            <div class="row justify-content-center">
                 <div class="col-lg-4 col-md-6 col-sm-8">
                     <div class="card">
                         <div class="card-title"><h2 align="center">Payment Details</h2>
                                <div class="card-body">

                             <form id="payment-form" action="{% url 'homes:payment' pk=id  %}" method="post">
                                 {% csrf_token %}


                                 <div class="form-group">
                                        <label for="name">Name on Card</label>
                                             <div class="input-group">
                                                <input type="text" class="form-control" id="name">
                                             </div>
                                </div>

                                 <div class="form-group">
                                    <label for="card-number">Credit Card Number</label>
                                        <div class="input-group">
                                             <span id="card-number" class="form-control">
                                            <!-- Stripe Card Element -->
                                            </span>

                                        </div>
                                </div>


                                <div class="form-group">
                                    <label for="card-cvc">CVC Number</label>
                                        <div class="input-group">
                                            <span id="card-cvc" class="form-control">
                                                <!-- Stripe CVC Element -->
                                            </span>
                                        </div>

                                    <label for="card-exp">Expiration</label>
                                        <div class="input-group">
                                        <span id="card-exp" class="form-control">
                                            <!-- Stripe Card Expiry Element -->
                                        </span>

                                        </div>
                                 </div>
                                <div align="center">
                                <button id="payment-submit" class="btn btn-success" >Pay $10</button>
                                </div>
                             </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="https://js.stripe.com/v3/"></script>
<script>
    $(document).ready(function(){

        // Create a Stripe client
        var stripe = Stripe('pk_test_49toTVpAZrVX4R5yi9qBhBwP');

        // Create an instance of Elements
        var elements = stripe.elements();

        // Try to match bootstrap 4 styling
        var style = {
            base: {
                'lineHeight': '1.35',
                'fontSize': '1.11rem',
                'color': '#495057',
                'fontFamily': 'apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif'
            }
        };

        // Card number
        var card = elements.create('cardNumber', {
            'placeholder': 'XXXX-XXXX-XXXX-XXXX',
            'style': style
        });
        card.mount('#card-number');

        // CVC
        var cvc = elements.create('cardCvc', {
            'placeholder': 'XXX',
            'style': style
        });
        cvc.mount('#card-cvc');

        // Card expiry
        var exp = elements.create('cardExpiry', {
            'placeholder': 'MM/YY',
            'style': style
        });
        exp.mount('#card-exp');

        // Submit
        $('#payment-submit').on('click', function(e){
            e.preventDefault();
            var cardData = {
                'name': $('#name').val()
            };
            stripe.createToken(card, cardData).then(function(result)
            {
                console.log(result);
                if(result.error && result.error.message)
                {
                    alert(result.error.message);
                }
                else
                {
                    stripeTokenHandler(result.token)
                    //alert(result.token.id);
                }
            });
        });

   function stripeTokenHandler(token)
   {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}

    });
</script>
</body>
{% endblock %}
</html>