{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title img scr="http://icons.iconarchive.com/icons/fps.hu/free-christmas-flat-circle/512/home-icon.png">{% block title %}Home Hunter{% endblock %}</title>
      <link rel="stylesheet" href="{% static 'css/static.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
      <link rel="stylesheet" href="{% static 'css/app.css' %}">
      <link rel="stylesheet" href="{% static 'css/footer.css' %}">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% block stylesheet %}{% endblock %}

  </head>
  <body>
    {% block body %}
   <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand"  href="{% url 'homes:listing' %}">Home Hunter </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="mainMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.username }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
            <a class="dropdown-item" href="{% url 'homes:my_account' pk=request.user.id %}">My account</a>
            <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
          </div>
        </li>
      </ul>
        {% else %}
        <form class="form-inline ml-auto">
          <a href="{% url 'accounts:login' %}" class="btn btn-outline-secondary">Log in</a>
          <a href="{% url 'accounts:signup' %}" class="btn btn-primary ml-2">Sign up</a>
        </form>
      {% endif %}

    </div>
  </div>
</nav>

    <div class="container" style="">
      <ol class="breadcrumb my-4">
        {% block breadcrumb %}

        {% endblock %}
      </ol>
      {% block content %}
      {% endblock %}
    </div>

  {% block footer %}
            <div class="footer navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="footercenter">
            <p >&copy; 2017 -  Home Hunter International </p>
            </div>
            </div>
  {% endblock %}

    {% endblock body %}
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/cropper.min.js' %}"></script>


  </body>
</html>