{% extends 'base.html' %}
{{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class ="col-sm-4 col-md-4 col-lg-4 " >

            <div class="card" style=" ">


                {% comment %}
                used a extrnal image url since heroku deletes static images
                {% endcomment %}
                <br/>
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Yes_Check_Circle.svg/480px-Yes_Check_Circle.svg.png" style="max-height:100px;width:100px; align-self:center;">


           <div class="justify-content-center success_center">

           <h2>Payment Successful </h2>
               </br>

           <p><b>REFRENCE_ID</b>
           <p>{{ charge.id }}</p>
               </br>

           <p><b>Amount</b>
           <p>${% widthratio charge.amount 100 1 %} </p>

           <p><b>From Account</b>
           <p>XXXX-XXXX-XXXX-{{ charge.source.last4 }} </p>

           <p><button class="btn btn-success" align="center" type="button" value="Continue" onclick="location.href='{% url 'homes:home_update' slug=slug %}'">Continue</button>
            </p></div>
            </div>
        </div>
     </div>
</div>
    </br>
    </br>
{% endblock %}
