<form class="navbar-form" role="search" action="{% url 'homes:home_search' %}" method="get">
    {% csrf_token %}
    <div class="input-group">
        <input type="text" class="form-control" placeholder="city" name="city" id="city">
        <input type="text" class="form-control" placeholder="keyword" name="keyword" id="keyword">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>Search</button>